.container{
    background-image: url("images/dinnerfurniture.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
     
    
}

.feather{
    text-align: center;
    color: white;
    padding: 10px;
}

.ownless{
    text-align: center;
    color: white;
}

.subscribe{
    text-align: center;
    color: white;
}

.button {
    background-color: hsl(180, 68%, 52%); /* Your desired color */
    border: none;
    color: white;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    border-radius: 6px;   
    align-items: center;

}

.button:hover {
    background-color: #ffffff; /* New color on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    /* Add other hover styles if desired */
    color: black;
  }

  .center{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
  }

  nav{
    display: inline-block;
  }


  li{
        display: inline-block;
      }
  
.about{
    background-color: rgb(229, 236, 236);
}  

.container2{
    text-align: center;
    padding: 20px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 200px;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
        